<!-- 
This file allows us to use ansible auto deployment tool 
without having conflicts with the angular templating syntax
It gets included into top-menu.html
 -->

<a class="brand" href="#">
	<i class="icon-large icon-lightbulb"></i>
	<div>
		<span class="logo1">{{ application_name[0] }}</span>
		<span class="logo2">{{ application_name[1:] }}</span>
		<span class="logo1">!</span>
	</div>
</a>
